*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}

.box{
    position: relative;
    width: 380px;
    height: 420px;
    background: black;
    border-radius: 2px;
    overflow: hidden;
}

.box:before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, aqua, aqua);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box:after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, aqua, aqua);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.form{
    position: absolute;
    background: #28292d;
    z-index: 10;
    inset: 2px;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}

.form h2{
    color: aqua;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}

.inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    font-size: 1em;
    color: white;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
    color: aqua;
    transform: translateX(0px) translateY(-34px);
    font-size: 0.75em;
}

.inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: aqua;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.inputBox input:valid ~ i,
.inputBox input:focus ~ i
{
 height: 44px;
}

.links{
    display: flex;
    justify-content: space-between;
}

.links a{
    margin: 10px 0;
    font-size: 0.75em;
    color: gray;
    text-decoration: none;
}

.links a:hover,
.links a:nth-child(2){
    color: aqua;
}

input[type="submit"]{
    border: none;
    outline: none;
    background: aqua;
    padding: 14px 26px;
    width: 100px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.btn{
    height: 35px;
    background: blue;
    color: white;
    border: none;
    border-radius: 4px;
}

.message{
    text-align: center;
    background: white;
    padding: 15px 0px;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 10px;
    color: red;
}

.btn:hover{
    background: white;
    color: black;
}

.message-2{
    text-align: center;
    background: black;
    padding: 15px 0px;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 10px;
    color: green;
}